#img-destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4) 80%,
      rgba(255, 255, 255, 1)
    ),
    url(../../img/casa.jpg);
}

#img-destaque p {
  font-size: 20px;
  max-width: 600px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.botoes {
  display: flex;
  gap: 20px;
}

button {
  background-color: rgba(62, 163, 4, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 12px 25px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transition: background 0.3s;
  background-color: #13d460b6;
  transition: color 0.3s;
  color: #000000;
}

.titulo {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#titulo1 {
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#titulo2 {
  color: rgb(54, 54, 54);
}

#titulo3 {
  color: rgb(54, 54, 54);
  margin-top: 60px;
  margin-bottom: 50px;
}

#descricao {
  padding: 30px;
}

#descricao p {
  margin-top: 20px;
  color: rgb(53, 53, 53);
  max-width: 500px;
}

#sobre {
  justify-content: space-between;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#sobre img {
  width: 50%;
}

#linha-v {
  display: none;
}

/*Responsividade*/

@media (max-width: 900px) {
  #img-destaque {
    height: 75vh;
  }
  #sobre {
    margin-top: 80px;
  }
  #sobre img {
    width: auto;
    height: 300px;
  }
  .titulo {
    font-size: 40px;
  }
  #linha-h {
    display: none;
  }
  #linha-v {
    display: flex;
  }
}
